USE [StockSentiment]
GO
/****** Object:  Table [dbo].[HistorySummary]    Script Date: 29/07/2025 09:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorySummary](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CallerID] [int] NOT NULL,
	[Stock] [nvarchar](20) NULL,
	[NewsSentiment] [text] NULL,
	[NewsSentimentSummary] [text] NULL,
	[FundamentalSentiment] [text] NULL,
	[FundamentalSentimentSummary] [text] NULL,
	[FinalSentiment] [text] NULL,
	[FinalSummary] [text] NULL,
	[Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CallerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockFundamentals]    Script Date: 29/07/2025 09:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockFundamentals](
	[Stock] [varchar](10) NOT NULL,
	[Price] [float] NULL,
	[EPS] [float] NULL,
	[BookValue] [float] NULL,
	[PE_Ratio] [float] NULL,
	[PB_Ratio] [float] NULL,
	[ROE] [float] NULL,
	[Forward_PE] [float] NULL,
	[DividendYield] [float] NULL,
	[DebtEquity] [float] NULL,
	[MarketCap] [bigint] NULL,
	[Currency] [varchar](10) NULL,
	[LastUpdated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Stock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockFundamentalsArchive]    Script Date: 29/07/2025 09:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockFundamentalsArchive](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Stock] [varchar](10) NOT NULL,
	[Price] [float] NULL,
	[EPS] [float] NULL,
	[BookValue] [float] NULL,
	[PE_Ratio] [float] NULL,
	[PB_Ratio] [float] NULL,
	[ROE] [float] NULL,
	[Forward_PE] [float] NULL,
	[DividendYield] [float] NULL,
	[DebtEquity] [float] NULL,
	[MarketCap] [bigint] NULL,
	[Currency] [varchar](10) NULL,
	[LastUpdated] [datetime] NULL,
	[ArchivedAt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebsiteData]    Script Date: 29/07/2025 09:37:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebsiteData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Stock] [nvarchar](10) NULL,
	[Title] [nvarchar](500) NULL,
	[Link] [nvarchar](500) NULL,
	[Content] [nvarchar](max) NULL,
	[Sentiment] [nvarchar](20) NULL,
	[Date] [datetime] NULL,
	[CallerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[StockFundamentals] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[StockFundamentalsArchive] ADD  DEFAULT (getdate()) FOR [ArchivedAt]
GO
